[*.cs]

# CA1063: Implement IDisposable correctly
dotnet_diagnostic.CA1063.severity = none

# CA1506: Avoid excessive class coupling
dotnet_diagnostic.CA1506.severity = none

# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = none

# CA1812: Avoid uninstantiated internal classes
dotnet_diagnostic.CA1812.severity = none

# CA1816: Call GC.SuppressFinalize correctly
dotnet_diagnostic.CA1816.severity = none
